.movie-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 5px;
  border-radius: 16px;
  background: var(--primary);

  @media (max-width: 767px) {
    width: 100%;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;

    @media (max-width: 767px) {
      width: calc(25% - 9px);
    }

    @media (max-width: 667px) {
      width: calc(50% - 9px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      button {
        color: var(--blue);
        background-color: #151f30;
        font-size: 14px;
        border-radius: 12px;
      }
    }

    button {
      width: 100%;
      background: none;
      border: none;
      color: var(--color-text);
      text-align: left;
      padding: 8px 10px;
      position: relative;
      z-index: 1;
      font-size: 14px;
      transition: all 0.3s;
      text-align: center;
    }
  }
}
