.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  color: var(--white);
  padding: 130px 0;

  &__icon {
    margin: 16px 0 32px;
    position: relative;

    img {
      position: relative;
      width: 200px;
    }

    .circle-small,
    .circle-medium,
    .circle-large {
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    .circle-small {
      width: 75px;
      height: 75px;
      background: rgba(61, 62, 74, 0.4);
    }

    .circle-medium {
      width: 150px;
      height: 150px;
      background: rgba(61, 62, 74, 0.2);
    }

    .circle-large {
      width: 250px;
      height: 250px;
      background: rgba(61, 62, 74, 0.1);
    }
  }

  &__content {
    position: relative;

    h4 {
      font-size: 40px;
      margin: 0 0 4px;
      font-weight: 700;

      @media (max-width: 767px) {
        font-size: 32px;
        margin: 0 0 8px;
      }
    }
  }
}
